---
const data = await fetch("http://localhost:8080/employee/search?query=r").then(
    (response) => response.json()
);
---

{
    data.map((item) => (
        <div class="emp-detail">
            <div class="emp-info">
                <h1 class="emp-info-name">
                    {item.firstName} {item.lastName}
                </h1>
                <p class="emp-info-post">{item.designation}</p>
            </div>
            <img src="images/p1.svg" alt="background" class="current-emp" />

            <div class="Employee-Flex">
                <div>
                    <h2 class="Employee-Flex-heading">Emplopyee Details</h2>
                    <div class="Employee-Flex-detail">
                        <p class="Employee-Flex-gender">
                            Gender: {item.gender}
                        </p>
                        <p class="Employee-Flex-dob">
                            Date of birth: 08/03/2002
                        </p>
                        <p class="Employee-Flex-country">
                            Nationality: {item.nationality}
                        </p>
                    </div>
                </div>

                <div>
                    <h2 class="Employee-Flex-cheading">Contact Details</h2>
                    <div class="Employee-Flex-detail">
                        <p class="Employee-Flex-number">
                            Phone number: {item.phoneNumber}
                        </p>
                        <p class="Employee-Flex-email">
                            Email address: {item.email}
                        </p>
                        <p class="Employee-Flex-address">
                            Permanent address: {item.address}
                        </p>
                    </div>
                </div>
            </div>

            <h2 class="Sub-employee-heading">Subordinate</h2>

            <div class="Sub-employee">
                <div class="Sub-employee-item">
                    <img src="images/p2.svg" alt="background" class="emp-img" />
                    <div class="Sub-employee-item-detail">
                        <h2 class="Sub-employee-item-detail-name">
                            Anil Regmi
                        </h2>
                        <p class="Sub-employee-item-detail-post">
                            Web Developer
                        </p>
                    </div>
                </div>
                <div class="Sub-employee-item">
                    <img src="images/p3.svg" alt="background" class="emp-img" />
                    <div class="Sub-employee-item-detail">
                        <h2 class="Sub-employee-item-detail-name">
                            Anil Regmi
                        </h2>
                        <p class="Sub-employee-item-detail-post">
                            Web Developer
                        </p>
                    </div>
                </div>
                <div class="Sub-employee-item">
                    <img src="images/p4.svg" alt="background" class="emp-img" />
                    <div class="Sub-employee-item-detail">
                        <h2 class="Sub-employee-item-detail-name">
                            Anil Regmi
                        </h2>
                        <p class="Sub-employee-item-detail-post">
                            Web Developer
                        </p>
                    </div>
                </div>
                <div class="Sub-employee-item">
                    <img src="images/p5.svg" alt="background" class="emp-img" />
                    <div class="Sub-employee-item-detail">
                        <h2 class="Sub-employee-item-detail-name">
                            Anil Regmi
                        </h2>
                        <p class="Sub-employee-item-detail-post">
                            Web Developer
                        </p>
                    </div>
                </div>
                <div class="Sub-employee-item">
                    <img src="images/p6.svg" alt="background" class="emp-img" />
                    <div class="Sub-employee-item-detail">
                        <h2 class="Sub-employee-item-detail-name">
                            Anil Regmi
                        </h2>
                        <p class="Sub-employee-item-detail-post">
                            Web Developer
                        </p>
                    </div>
                </div>
                <div class="Sub-employee-item">
                    <img src="images/p7.svg" alt="background" class="emp-img" />
                    <div class="Sub-employee-item-detail">
                        <h2 class="Sub-employee-item-detail-name">
                            Anil Regmi
                        </h2>
                        <p class="Sub-employee-item-detail-post">
                            Web Developer
                        </p>
                    </div>
                </div>
                <div class="Sub-employee-item">
                    <img src="images/p8.svg" alt="background" class="emp-img" />
                    <div class="Sub-employee-item-detail">
                        <h2 class="Sub-employee-item-detail-name">
                            Anil Regmi
                        </h2>
                        <p class="Sub-employee-item-detail-post">
                            Web Developer
                        </p>
                    </div>
                </div>
                <div class="Sub-employee-item">
                    <img src="images/p9.svg" alt="background" class="emp-img" />
                    <div class="Sub-employee-item-detail">
                        <h2 class="Sub-employee-item-detail-name">
                            Anil Regmi
                        </h2>
                        <p class="Sub-employee-item-detail-post">
                            Web Developer
                        </p>
                    </div>
                </div>
            </div>
        </div>
    ))
}
<style>
    .emp-detail {
        background: var(--global-color-primary3);
        font-style: normal;
        line-height: 39px;
        /* identical to box height */
        margin: 80px 10px;
        padding: 50px 85px;
        letter-spacing: 0.05em;
        border-radius: 15px;

        /* Primary 1 */
        color: var(--global-color-primary);
    }

    .Employee-Flex {
        display: flex;
        margin-top: 30px;
        gap: 40%;
    }

    .Sub-employee {
        display: grid;
        grid:  auto / auto auto auto;
        justify-content: space-between;
        align-items: center;
        gap: 15px;
        margin-top: 30px;
        padding-bottom: 50px;
    }
    .Sub-employee-item {
        display: flex;
        flex: 0 28%;
        justify-content: start;
        gap: 15px;
    }

    .Sub-employee-item-detail {
        display: grid;
        line-height: 2px;
    }

    .Employee-Flex-heading {
        background: var(--global-color-primary);
        color: #1b262c;
        padding: 0;
        margin: 0;
        font-size: 18px;
        font-weight: 500;
        width: 200px;
        display: flex;
        justify-content: center;
        border-radius: 10px;
    }
    .Employee-Flex-cheading {
        background: var(--global-color-primary);
        color: #1b262c;
        padding: 0;
        margin: 0;
        font-size: 18px;
        font-weight: 500;
        display: flex;
        width: 150px;
        justify-content: center;

        border-radius: 10px;
    }

    .Employee-Flex-gender {
        padding: 0;
        margin: 0;
    }

    .Employee-Flex-dob {
        padding: 0;
        margin: 0;
    }
    .Employee-Flex-country {
        padding: 0;
        margin: 0;
    }

    .Employee-Flex-detail {
        margin-top: 18px;
        line-height: 28px;
    }

    .Sub-employee-heading {
        background: var(--global-color-primary);
        color: #1b262c;
        margin-top: 30px;
        padding: 0;
        font-size: 18px;
        font-weight: 500;
        display: flex;
        justify-content: center;
        width: 135px;
        align-items: center;
        border-radius: 10px;
    }

    .Employee-Flex-number {
        padding: 0;
        margin: 0;
    }

    .Employee-Flex-email {
        padding: 0;
        margin: 0;
    }
    .Employee-Flex-address {
        padding: 0;
        margin: 0;
    }

    .emp-info-name {
        padding: 0;
        margin: 0;
    }
    .emp-info-post {
        padding: 0;
        margin: 0;
    }

    .current-emp {
        position: absolute;
        left: 80%;
        top: 25%;
    }

    .Sub-employee-item-detail-name {
        font-weight: 400;
        font-size: 20px;
    }
    .Sub-employee-item-detail-post {
        font-weight: 400;
        font-size: 12px;
    }
    .emp-img {
        width: 65px;
    }
</style>
